header .container {
	margin: 0px;
	height: 0px;
}

.logobox {
	width:30%;
	float:left;
	background-color:#f2f2f2;
	height:64px;
}

.logo {
	display: block;
	text-decoration:none;
	font-weight:700;
	color:#000;
	font-size:2.5em;
	margin: 0 auto;
	padding: 7px 0px 5px 20px;
}

#navBar {
	width:70%;
	overflow:hidden;
	float:right;
	padding:0;
	list-style:none;
	background-color:#f2f2f2;
	height:64px;
	margin:0;
}

#navBar li {
	float:left;
	margin-left:5%;
}

#navBar li a {
	padding:18px;
	display:block;
	text-decoration:none;
	font-weight:700;
	color:#069;
	font-size:1.5em;
}

#navBar li a:hover {
	color:#fff;
	background-color:lightgray;
}

body {
	background-color:#dadada;
	margin: 0px;
}

#home-intro, #home-mission, #home-news, #home-media {
	width: 100%;
	height: 100vh;
}

#home-intro {
	background-color: #699eff;
}

#home-mission {
	background-color: #5e5eff;
}

#home-news {
background-color: #7c67ff;
}

#home-media {
	background-color: #191670;
}

footer {
	background-color: #c1a786;
	height: 300px;
}

footer .section {
	margin: auto;
	width: 90%;
	height: 60%;
	padding: 30px 40px 30px 40px;
	overflow: hidden;
	background-color: #bfbfbf;
	border: 1px solid red;
}

footer .section .left-side, footer .section .right-side {
	width: 50%;
	height: 100%;
	margin: auto;
}

.left-side {
	float:left;
	background-color: #9cebff;
}

.right-side {
	float: right;
	background-color: #ffc8f6;
	text-align: right;
}